infrastracture/services/auth-service/node_modules/
infrastracture/services/product-service/node_modules/
infrastracture/services/order-service/node_modules/
infrastracture/services/auth-service/src/.env
infrastracture/services/order-service/src/.env
infrastracture/services/product-service/src/.env
